教育訓練/ChptEtraining/App_WebReferences/eTraining/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWcfCourseDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WcfCourseDto" nillable="true" type="tns:WcfCourseDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWcfCourseDto" nillable="true" type="tns:ArrayOfWcfCourseDto" />
  <xs:complexType name="WcfCourseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassId" type="xs:int" />
      <xs:element minOccurs="0" name="CourseCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CourseCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CourseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CourseDateB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CourseDateE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CourseName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfCourseDto" nillable="true" type="tns:WcfCourseDto" />
</xs:schema>