教育訓練/ChptEtraining/App_WebReferences/eTraining/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45308/FORMOSA_eTraining/Wcf/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetByNobrDateRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Anobr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdatetimeB" type="xs:dateTime" />
        <xs:element minOccurs="0" name="AdatetimeE" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Apass" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByNobrDateRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetByNobrDateRangeResult" nillable="true" type="q1:ArrayOfWcfCourseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>