人事薪系統/傑報人事薪資系統/Service References/JBHR2Service/KCR_MealService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JBHR2Service.KCR_Custom.Meal" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JBHR2Service.KCR_Custom.Meal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.46/Jbhr2Service/KCR_MealService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKCR_MealApplySettingEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KCR_MealApplySettingEntry" nillable="true" type="tns:KCR_MealApplySettingEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKCR_MealApplySettingEntry" nillable="true" type="tns:ArrayOfKCR_MealApplySettingEntry" />
  <xs:complexType name="KCR_MealApplySettingEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ApplyFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="AutoKey" type="xs:int" />
      <xs:element minOccurs="0" name="BTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GID" type="ser:guid" />
      <xs:element minOccurs="0" name="HoliMealFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="Key_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Key_Man" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MealGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MealGroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MealType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MealTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KCR_MealApplySettingEntry" nillable="true" type="tns:KCR_MealApplySettingEntry" />
  <xs:complexType name="KCR_MealResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFinish" type="xs:boolean" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KCR_MealResult" nillable="true" type="tns:KCR_MealResult" />
</xs:schema>