人事薪系統/傑報人事薪資系統/Service References/JBHR2Service/KCR_MealService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.46/Jbhr2Service/KCR_MealService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JBHR2Service.KCR_Custom.Meal" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KCR_GetMealApplySettingByEmpID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ADate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KCR_GetMealApplySettingByEmpIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JBHR2Service.KCR_Custom.Meal" minOccurs="0" name="KCR_GetMealApplySettingByEmpIDResult" nillable="true" type="q1:ArrayOfKCR_MealApplySettingEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KCR_UpdateMealApplySettingByEmpID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JBHR2Service.KCR_Custom.Meal" minOccurs="0" name="MealApplySetting" nillable="true" type="q2:ArrayOfKCR_MealApplySettingEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KCR_UpdateMealApplySettingByEmpIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JBHR2Service.KCR_Custom.Meal" minOccurs="0" name="KCR_UpdateMealApplySettingByEmpIDResult" nillable="true" type="q3:KCR_MealResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>