員工平台/Portal/Portal/Connected Services/KCR_MealService/KCR_MealService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KCR_MealService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.46/Jbhr2Service/KCR_MealService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.46/Jbhr2Service/KCR_MealService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.46/Jbhr2Service/KCR_MealService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JBHR2Service.KCR_Custom.Meal" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKCR_MealService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IKCR_MealService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IKCR_MealService_KCR_GetMealApplySettingByEmpID_InputMessage">
    <wsdl:part name="parameters" element="tns:KCR_GetMealApplySettingByEmpID" />
  </wsdl:message>
  <wsdl:message name="IKCR_MealService_KCR_GetMealApplySettingByEmpID_OutputMessage">
    <wsdl:part name="parameters" element="tns:KCR_GetMealApplySettingByEmpIDResponse" />
  </wsdl:message>
  <wsdl:message name="IKCR_MealService_KCR_UpdateMealApplySettingByEmpID_InputMessage">
    <wsdl:part name="parameters" element="tns:KCR_UpdateMealApplySettingByEmpID" />
  </wsdl:message>
  <wsdl:message name="IKCR_MealService_KCR_UpdateMealApplySettingByEmpID_OutputMessage">
    <wsdl:part name="parameters" element="tns:KCR_UpdateMealApplySettingByEmpIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IKCR_MealService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IKCR_MealService/DoWork" message="tns:IKCR_MealService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKCR_MealService/DoWorkResponse" message="tns:IKCR_MealService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KCR_GetMealApplySettingByEmpID">
      <wsdl:input wsaw:Action="http://tempuri.org/IKCR_MealService/KCR_GetMealApplySettingByEmpID" message="tns:IKCR_MealService_KCR_GetMealApplySettingByEmpID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKCR_MealService/KCR_GetMealApplySettingByEmpIDResponse" message="tns:IKCR_MealService_KCR_GetMealApplySettingByEmpID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KCR_UpdateMealApplySettingByEmpID">
      <wsdl:input wsaw:Action="http://tempuri.org/IKCR_MealService/KCR_UpdateMealApplySettingByEmpID" message="tns:IKCR_MealService_KCR_UpdateMealApplySettingByEmpID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKCR_MealService/KCR_UpdateMealApplySettingByEmpIDResponse" message="tns:IKCR_MealService_KCR_UpdateMealApplySettingByEmpID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKCR_MealService" type="tns:IKCR_MealService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IKCR_MealService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KCR_GetMealApplySettingByEmpID">
      <soap:operation soapAction="http://tempuri.org/IKCR_MealService/KCR_GetMealApplySettingByEmpID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KCR_UpdateMealApplySettingByEmpID">
      <soap:operation soapAction="http://tempuri.org/IKCR_MealService/KCR_UpdateMealApplySettingByEmpID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KCR_MealService">
    <wsdl:port name="BasicHttpBinding_IKCR_MealService" binding="tns:BasicHttpBinding_IKCR_MealService">
      <soap:address location="http://192.168.1.46/Jbhr2Service/KCR_MealService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>