人事薪系統/傑報人事薪資系統/Service References/HPX_WebService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Bll.Att.Vdb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Bll.Att.Vdb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.46/HopaxWebService/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Bll.MT" />
  <xs:complexType name="ArrayOfHcodeTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HcodeTable" nillable="true" type="tns:HcodeTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHcodeTable" nillable="true" type="tns:ArrayOfHcodeTable" />
  <xs:complexType name="HcodeTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbstLen" type="xs:int" />
      <xs:element minOccurs="0" name="AbstUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeDisp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Max" type="xs:decimal" />
      <xs:element minOccurs="0" name="NameC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameE" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bll.MT" minOccurs="0" name="Unit" type="q1:mtEnum.HcodeUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HcodeTable" nillable="true" type="tns:HcodeTable" />
</xs:schema>